@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    color: white;
    font-size: 1.1rem;
    padding: 0px;
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
    font-weight: 700;
    transition: transform 0.3s ease, color 0.3s ease, font-size 0.5s ease;
}
.notActive {
    color: black;
    font-size: 1rem;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background-color: wheat;
    border-radius: 5px;
}

.image-with-alt[alt="img-not-found"] {
    background-image: url('/public/imgnotfound.png');
    background-size: cover;
    background-position: center;
}

.primaryBtn {
    /* background-color: #7c3aed; */
    color: black;
    border: 1px solid blue;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 1.1rem;
}

.primaryBtn:hover {
    background-color: #580bdb;
    color: white;
}

/* sort btn css start */
.sortBTn {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    /* text-transform: uppercase; */
    font-size: 18px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #000000;
    font-weight: 500;
}


.sortBTn::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.sortBTn:hover::before {
    width: 105%;
}

.sortBTn:hover {
    color: #ffffff;
}

/* sort btn css end */




/* From Uiverse.io by alexruix */ 
.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #f0808050;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #f08080;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
    100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}